*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url(160.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.navbar  ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar  ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar  ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar  ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    font-family: 'Kaushan Script', cursive;
}
.content h2{
    font-size: 50px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-style: italic;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
/*-- living --*/
#costofliving{
    width: 100%;
    padding: 70px 0;;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 25px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1; 
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
}
.top-area{
    background: #dfd9d9;
}
#COL{
    font-family: 'Poppins' sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    align-items: left;
}
#COL td, #COL th{
    border: 1px solid #ddd;
    padding: 8px;
}
#COL tr:hover{
    background-color: #ddd;
}
#COL th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #019587;
    color:white;
}
.col-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    text-align: left;
}
.col-info{
    flex-basis: 50%;
}
.col-info-img{
    flex-basis: 50%;
    margin: auto;
}
.col-info-img img{
    width: 50%;
    border-radius: 10px;
}
.col-info h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: black;
}
#costofliving{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.footer{
    margin: 20px auto;
    padding: 60px;
    font-weight: bold;
    line-height: 25px;
    font-style: italic;
    font-size: 10px;
    text-align: center;
}
.content2{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content2 h1{
    font-size: 70px;
    margin-top: 80px;
    font-family: 'Kaushan Script', cursive;
}
.content2 h2{
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.content2 p{
    margin: 20px auto;
    font-weight: 75;
    line-height: 25px;
    font-style: italic;
}
.form-input{
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #009688;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:25%;
  box-sizing: border-box;
  outline:0;
}
.banner-contact{
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(#009688,rgba(100, 97, 97, 0.5), rgba(71, 70, 70, 0.5), #009688);
    background-size: cover;
    background-position: no-repeat center center fixed;
}